.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 150px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 1rem;
    transition: .3s ease;
    border-bottom: 1px solid transparent;
}

.app__navbar-login a:hover {
    border-color: var(--color-golden);
}

.app__navbar-login span {
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    animation: scaleUp .5s ease;
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0;
}

@keyframes scaleUp {
    from {
        transform: scale(1, 0)
    }
    to {
        transform: scale(1, 1);
    }
}

.app__navbar-mobile-menu .app__navbar-mobile-menu-close {
    color: var(--color-golden);
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-mobile-menu .app__navbar-links {
    flex-direction: column;
    align-items: flex-end;
    flex: 0;
}

.app__navbar-mobile-menu .app__navbar-links li {
    font-size: 20px;
}

.app__navbar-mobile-menu .app__navbar-login {
    flex-direction: column;
    align-items: flex-end;
}

.app__navbar-mobile-menu .app__navbar-login a {
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .app__navbar-smallscreen {
        display: block;
    }

    .app__navbar-desktop-menu {
        display: none;
    }

    .app__navbar-login.desktop-app__navbar-login {
        display: none;
    }
}